body
{
  background-size: cover;
  background-position: center;
}
.heading
{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading button{
    float: right;
    border: 1px solid white;
}